:root{
    /*Nav*/
    --nav-background:#262b37;
    --nav-item-color:#c3c8d6;
    --nav-item-back:transparent;
    --nav-item-hover-text:white;
    --nav-item-hover-back:transparent;
    --nav-item-selected:#1b1f29;
    /*Landing*/
    --landing-background:grey;
    --landing-header-back:rgba(0, 0, 0, 0.3);
    --landing-header-color:white;
    /*About*/
    --about-background:#00bdbd;
    --about-head-color:white;
    --about-name-color:white;
    --about-text-color:white;
    /*Experience*/
    --experience-background: white;
    --experience-header: #ff675f;
    /*BulletPoint*/
    --bulletpoint-date-text: white;
    --bulletpoint-date-background:  #ff675f;
}
html,body,#root,.App{
  width: 100%;
  height: 100%;
}
/* components > Nav > Nav.js */
.page-nav-bottom{
    position: absolute;
    bottom:0;
}
.page-nav-top{
    position: fixed;
    top:0;
}
#page-nav{
    height:4em;
    width:100%;
    background-color:var(--nav-background);
    text-align: center;
}
.nav-items-wrapper{
    list-style: none;
    margin:0;
    padding:0;
    height: 100%;   
    cursor: pointer;
}
.nav-item{
    color: var(--nav-item-color);
    background-color:var(--nav-item-back);
    font-size: 18px;
    font-weight: lighter;
    display: inline-block;
    padding: 1.20em 1em;
    cursor: pointer;
}
.nav-item:hover{
    background-color:var(--nav-item-hover-back);
    color:var(--nav-item-hover-text);
}
#selected-nav-item{
    background-color:var(--nav-item-selected);
}
/* components > About > About.js */
#about-page{
    background-color:var(--about-background);
    width:100%;
    min-height:100%;
    text-align: center;
}
.about-page-header{
    color: var(--about-head-color);
    font-size: 60px;
    margin:0;
    padding: 1em 0 0 0;
    text-align: center;
    font-weight: lighter;
}
.about-headshot-wrapper{
    position: relative;
    margin-top:3em;
    text-align: left;
}
.about-headshot{
    width:9em;
    height:9em;
    border-radius: 15em;
    margin-left:5em;
    display: inline-block;
}
.about-name-wrapper{
    margin: 2em 0 0 3em;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.about-name-wrapper li{
    color:var(--about-name-color);
    font-size:28px;
    margin-bottom:0.25em;
    font-weight: lighter;
}
.about-text{
    width: 80%;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-top: 2.5em;
    color:var(--about-text-color);
}

/* components > Experience > Experience.js */
#experience-page {
    min-height: 100%;
    min-width: 100%;
    background-color:var(--experience-background);
}

.experience-header {
    color: var(--experience-header);
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

/* components > BulletPoint > BulletPoint.js */
.bullet-point {
    width: 100%;
}

.bulletpoint-date {
    background-color: var(--bulletpoint-date-background);
    color: var(--bulletpoint-date-text);
    display: inline-block;
    padding: 3.5em 0;
    width: 8em;
    text-align: center;
    margin: 0 2em 0 4em;
    border-radius: 15em;
}
